Body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cointaner {
    width: 500px;
    height: auto;
    text-align: left;
    font-size: 16px;
    margin: 1px;
    border: 1px black solid;
    padding: 2px;
    
    
}

