
Body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cointaner {
    width: 800px;
    height: auto;
    text-align: left;
    font-size: 16px;
    margin: 1px;
    border: 1px black solid;
    padding: 2px;
}
.cabecera {
    width: 100%;
    height: 3vh;
    font-family: Arial;
    font-size: 1rem;
    background-color: royalblue;
}

